registry = https://artifactory.globalcloudcom/artifactory/api/npm/npm-virtual
strict-ssl = false
proxy=http://artifactory-proxy.globalcloudcom:8080
https-proxy=http://artifactory-proxy.globalcloudcom:8080